</div>
</div>
<script src="/js/main.js"></script>
<div id="footer" class="fcontainer footBack">
    <p>Code hosted on <a href="https://github.com/Asthriona/Yukiko" target="_blank">GitHub</a>. Hosting and DNS powered by
        <a href="https://Asthriona.com" target="_blank" rel="noopener noreferrer">Asthriona ltd.</a></p>
        <p>Website hosted at Paris, France. Database hosted by AWS Greenhills Road, Ireland</p>
    <p>Domaine Uptime: <span class="uptime">Whoising domain creation time...</span><span class="timeJump"> (●'◡'●)ﾉ♥</span></p>
    <p>© Asthriona ltd 2019 -
        <script>document.write(new Date().getFullYear())</script> <a href="https://Asthriona.com">Asthriona</a>. Theme
        By
        <a href="https://Asthriona.com/" target="_blank">Asthriona</a>.</p>
        <!-- NOTE: I didn't comment the credit for bad reason. lgisdead is going to draw the next and official avatar of Yukiko, so not this one.
        we sadly can't find the original artist of this image.
        If you know it, of if you are the OC of this art please contact us @YukikoDiscord on Twitter or contact@Yukiko.app we will credit you.
        (Please contact us with proof.)
        -->
    <!--<p>Credit: Yukiko's art by <a href="http://twitter.com/lgisdead" target="_blank"
            rel="noopener noreferrer">lgisdead</a></p>-->
    <p><span>Made with the </span>❤️ <span>by Asthriona & Rise.</span></p>
</div>
</body>
</html>