<%- include ('partials/header.ejs') %> 
<center>
        <h1>Asthriona Image Uploader!</h1>
        <h1 class="beta">THIS WEBSITE IS IN EARLY DEVELOEPEMENT STATE.</h1>
        <form enctype="application/x-www-form-urlencoded">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" name="" id="">
            <button type="button" id="upload-btn">Submit</button>
        </form>
        <h1><div class="img"></div></h1>
    </center>
    <%- include ('partials/footer.ejs') %> 